<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>DeliveryApp</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Нужно для доставки по вашему адресу.</string>
    <key>API_BASE_URL</key>
    <string></string>
    <key>PAYMENT_RETURN_URL</key>
    <string>deliveryapp://paid</string>
</dict>
</plist>
